@import "../../../style/media.scss";
.list {
  display: flex;
  gap: 12px;
  color: #828ead;
  font-size: 12px;
  margin-bottom: 24px;
}
.title {
  font-size: 32px;
  margin-bottom: 32px;
}
.inner {
  display: flex;
  gap: 48px;
  margin-bottom: 50px;
  @include desktop {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.mainItem {
  @include mobile-s {
    min-width: 0;
  }
}
.content {
  flex-grow: 1;
}
